/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.App {
  text-align: center;
  font-family: 'Arial', sans-serif; /* Cleaner font */
}

.App-header {
  background-color: #f0f0f0; /* Lighter background for contrast */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Makes sure padding doesn't affect width */
}

.Button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.Button:hover {
  background-color: #45a049;
}

h2 {
  margin-bottom: 20px;
}

.chat-interface {
  display: flex;
  flex-direction: column;
  
  height: 600px; /* Adjust based on your layout */
  width: 800px; /* Adjust based on your layout */
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background: #f9f9f9;
  font-family: 'Arial', sans-serif;
}

.messages-list {
  flex-grow: 1;
  
  overflow-y: auto;
  padding: 10px;
  background: #fff;
}

.message {
  /* stay at the center */
  width: 200px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.message.user {
  margin-right: -10px;
  margin-left: 580px;
  align-self: flex-end;
  background: #e0e0e0;
}

.message.ai {
  align-self: flex-start;
  background: #0078ff;
  color: #fff;
}

.input-area {
  display: flex;
  padding: 10px;
  background: #f1f1f1;
}

.input-area input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-area button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0078ff;
  color: white;
  cursor: pointer;
  outline: none;
}

.input-area button:hover {
  background-color: #0056b3;
}

.webchat {
  display: none;
  height: 100vh;
  
}